@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 215 28% 17%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 243 75% 59%;
  }

  * {
    @apply border-secondary-200;
  }

  body {
    @apply bg-[#FAFAFA] text-secondary-800 antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
